@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@1,500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@700&display=swap'); 



html,body{
	background: linear-gradient(to left, #8e9eab, #eef2f3);
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}



.CFlist_frame{
	width:1680px;
	height:90%;
	display: flex;
	margin-top:20px;
}

.CFlist_frame_left{
	
	width:80%;
	display: flex;
	justify-content: center;
	align-items: center;
	border:3px solid #393D41;
	flex-direction: column;
}


.CFlist_frame_right{
	width:20%;
	border:3px solid #393D41;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	margin-left:30px;
	
}

.CFlist_frame_left_title{
	
			font-family: 'Jeju Gothic', serif;
	font-size:80px;
	
	
}

.CFlist_frame_left_content{
	
	margin-top:60px;
	margin-bottom:60px;
	
	
	padding-top:20px;
	padding-bottom: 20px;
	padding-left:30px;
	padding-right:30px;
	
		border-radius: 15px;
	border-left:4px solid black;
		border-right:4px solid black;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	
		font-family: 'Jeju Gothic', serif;
		font-size:15px;
}


.CFlist_frame_left_content_line{
	
	margin-top:10px;
	margin-bottom:10px;
		transition:all  0.5s ease;
	
}

.CFlist_frame_left_content_line:hover{
	
	opacity:0.6;
	
}
.CFlist_frame_left_content_line span{
	display: inline-block;
	width:200px;
	
}


.CFlist_btn{
	
	display: block;
	width:200px;
	height:50px;
	background-color: #e8eae6;
	border:none;
		box-shadow: 3px 2px 5px;
		border-radius: 10px;
		transition: all 0.5s ease;
		font-family: 'Jeju Gothic', serif;
		font-size:22px;
	
	
}



.CFlist_btn:hover{
	
	transform:translate(0px, -10px);		
	opacity: 0.6;
	
}





